extends layouts/main
include mixins/videoBlock

block content 
    .videos
        each video in videos
            //- mixin 사용 전
            //- h1 #{video.title}
            
            //- mixin 사용 후
            +videoBlock({
                id: video.id,
                title: video.title,
                views: video.views,
                videoFile: video.fileUrl,
            })
